<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Living Page</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Living Page connects to a Living Page answer service you run on your local network during development.</string>
	<key>NSPencilInteractionUsageDescription</key>
	<string>Living Page uses Apple Pencil to write your question.</string>
	<key>UIAppFonts</key>
	<array>
		<string>CedarvilleCursive-Regular.ttf</string>
		<string>JustAnotherHand-Regular.ttf</string>
		<string>CinzelDecorative-Regular.ttf</string>
		<string>CinzelDecorative-Bold.ttf</string>
		<string>Awesome.ttf</string>
		<string>Crustaceans-SignatureDEMO-Regular.otf</string>
		<string>BrittanySignatureScript.ttf</string>
		<string>Amsterdam.ttf</string>
		<string>Always Classy.ttf</string>
		<string>Priestacy.otf</string>
		<string>Amsterdam Handwriting.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
